.text {
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
  font-weight: 700;
  font-style: italic;
  line-height: 1.5;
  letter-spacing: 0.2em;
  word-spacing: normal;
}

/* .text-alignment {
 text-align: left | center | right | justify;
 vertical-align: top | middle | bottom;
 text-decoration: none | underline | line-through;
 text-transform: uppercase | lowercase | capitalize;
} */
